body {
    background-color: #8affff;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#etchie-sketchie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 0, 0);
    height: 550px;
    width: 740px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

#title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 3px 2px rgb(218, 185, 0);
    margin-top: 20px;
    margin-bottom: 5px;
}

#grid {
    height: 380px;
    width: 600px;
    display: flex;
    border-radius: 5px;
}

#grid>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
    background-color: lightgrey;
}

.cell:hover {
    cursor: crosshair;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#reset-button {
    font-family: 'Press Start 2P', cursive;
    margin-top: 4px;
    font-size: 10px;
}

#pixel-slider {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
}

#slidecontainer {
    width: 100%;
}

.box-small {
    height: 5px;
    width: 5px;
    background-color: rgb(15, 15, 15);
    border: 1px solid black;
    flex-shrink: 0;
    margin-left: 8px;
}

.box-large {
    height: 12px;
    width: 12px;
    background-color: rgb(15, 15, 15);
    border: 1px solid black;
    margin-right: 8px;
    flex-shrink: 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    background: rgb(185, 185, 185);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #353535; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 20px; 
    height: 20px; 
    background: #353535; 
    cursor: pointer; 
  }

.toggle {
    background-color: rgb(100, 100, 100);
}

.toggle1 {
    background-color: rgb(59, 59, 59);
}

.toggle2 {
    background-color: black;
}