#main{
    display: flex;
    justify-content: center;
}

#etch-a-sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    height: 500px;
    width: 680px;
}

#title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#grid {
    height: 340px;
    width: 500px;
    display: flex;
}

#grid>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
    background-color: lightgrey;
}
.toggle {
    background-color: black;
}